<div class="test">
    <h1>This is component HOME </h1>

    <h2> Vietnam Data</h2>
 <!-- <div *ngFor="let item of naturalfood ; let i = index" >
    <li>{{i+1}}.{{item}}</li>
 </div> -->
 
 <br/>
<!-- <table class="table"  >
    <tr>
        <th>
            No.
        </th>
        <th>
            Name
        </th>
        <th>
            Price
        </th>
        <th>
            Discount
        </th>
    </tr>
    <tr *ngFor="let item of naturalfood1 ; let i = index"> 
        <th>
            {{i+1}}
        </th>
        <th>
           {{ item.name | uppercase}}
        </th>
        <th class="canhphai">
            <span [ngClass]="{'so-am': item.price <0 }">  {{item.price | currency:"EUR":"symbol":"1.2"}} </span>      
        </th>
        <th >
            <span> {{item.discount | onSale |uppercase }} </span>
        </th>
    </tr>
</table> -->
Tỉnh / Thành Phố:
  <select id="city" (change)="changeCity($event)">
    <option *ngFor="let data of vietnamData" value="{{ data.city }}">
      {{ data.city }}
    </option>
  </select>
  <br />
  Quận / Huyện:
  <select id="district">
    <option *ngFor="let district of districts" value="{{ district }}">
      {{ district }}
    </option>
  </select>

</div>
<br/>
<span>Counter = {{ counter }}</span>
<br />
<span>Counter ^ 2 = {{ counterBinhPhuong }}</span>